{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2> Edit phone </h2><br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Edit">
        {{ form_end(form) }}
    </div>
{% endblock %}
