{% extends 'base.html.twig' %}

{% block body %}
    <p><h2> Add new contact </h2></p><br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary" type="submit" value="Add">
    {{ form_end(form) }}
{% endblock %}
